<ion-view view-title="Accueil">
  <ion-content>
 


  <div class="buttons">    
      <button class="myproject-button">
        <img src="img/icones_layout/mon_projet.png">
        <div class="button-title">Mon Projet</div>
      </button>  
    
      <button class="releve-button">
        <img src="img/icones_layout/releve_terrain.png">
        <div class="button-title">Relevé terrain</div>
      </button>
  </div>

  <div class="texte">
    <div class="bienvenue">
      Bienvenue {{firstname}} {{lastname}}
    </div>
    <div class="last-connexion">
      Dernière connexion le :<br>
      {{lastConnection}}
    </div>
  </div>

    
  </ion-content>
</ion-view>
